*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: #621402;
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
}
.header {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url("../img/bg.jpg") no-repeat center top / cover;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo {
    padding-right: 57px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu__item + .menu__item {
    margin-left: 25px;
}
.menu__link {
    color: inherit;
    text-decoration: none;
}
.user {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.user__hello {
    padding-right: 11px;
}

/*film*/
.film {
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.film__info-title-small {
    opacity: .5;
    font-size: 24px;
    line-height: 150%;
}
.film__info-title {
    margin-top: 11px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.film__info-descr {
    max-width: 560px;
    font-size: 16px;
    line-height: 150%;
}
.film__trailer {
    margin: auto;
}
.film__info-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.time {
    display: flex;
    align-items: center;
}
.time-icon {
    margin-right: 14px;
}
.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}
.rating-icon {
    margin-right: 14px;
}
.rating-current {
    font-size: 24px;
    line-height: 150%;
}
/*session*/
.session {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.session__date-block {
    display: flex;
}
.session-label {
    display: block;
    margin-bottom: 20px;
}
.session__date-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 9px 27px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background .2s;
    cursor: pointer;
}
.session__date-item:hover {
    background: #FE8E05;
    color: #621402;
}
.session__date-month {
    font-size: 16px;
    line-height: 19px;
}
.session__date-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}
.session__date-week {
    font-size: 19px;
    line-height: 22px;
}
.select {
    margin-top: 15px;
    padding: 18px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.session__cinema-select {
    min-width: 470px;
}

/*scheme*/
.scheme {
    margin-bottom: 40px;
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
}
.scheme path:not(.light) {
    fill:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.scheme path:not(.light):hover {
    fill:rgba(255, 255, 255, 0.5);
}
.scheme path.booked, .scheme path.booked:hover {
    cursor: not-allowed;
    fill:rgba(255, 255, 255, 0.05);
}
.scheme path.active, .scheme path.active:hover {
    fill: #FE8E05;
}
.legend {
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 38px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.legend-label {
    margin-right: 30px;
    display: flex;
    align-items: center;
    color:rgba(255, 255, 255, 0.5);
}
.legend svg {
    margin-right: 15px;
}

/*price*/
.price {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-tag__label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}
.price-tag__total,
.price-tag__ruble {
    font-size: 52px;
    line-height: 61px;
}
.price-button {
    padding: 24px 52px;
    background: #FE8E05;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}